/*  MAIN MENU HIGHLIGHT STYLE   */
.mainMenuHighlight
{
	position		: fixed;
	top				: 130px;
	left			: 0px;
	width			: 39px;
	height			: 412px;
	z-index			: 6;
}

/*  MAIN MENU STYLE   */
.menu
{
	list-style-type	: none;
	margin			: 0;
	padding			: 0;
	width			: 120px;
	height			: 433px;
	position		: fixed;
	top				: 117px;
	left			: 4px;
	border			: 0px;
	background		: url('/Menu/NewMenu.png') no-repeat;
	z-index			: 5;
}

.menu img
{
	border: 0px;
}

.menu li
{
	position	: relative;
	top			: 86px;
	left		: 2px;
	width		: 120px;
	height		: 31px;
	border		: 0px;
	z-index		: 7;
}

/*  SUB MENU STYLE   */
.subMenu
{
	position		: relative;
	list-style-type	: none;
	margin			: 0;
	padding			: 0;
	width			: 85px;
	height			: 128px;
	background		: url('/Menu/SubMenu/SubMenu.png') no-repeat;
	z-index			: 7;
}

.subMenu li
{
	position	: relative;
	top			: 6px;
	left		: 0px;
	width		: 77px;
	height		: 18px;
	z-index		: 7;
}

.menu li ul
{
	position	: absolute;
	width		: 85px;
	height		: 128px;
	left		: 20px;
	top			: 0;
	display		: none;
	z-index		: 7;
}

.menu li a
{
	font			: bold 12px Verdana, Helvetica, sans-serif;
	color			: white;
	display			: block;
	width			: auto;
	height			: auto;
	padding			: 0px 0;
	padding-left	: 0px;
	text-decoration	: none;
	z-index			: 7;
}

.menu .arrowdiv
{
	position	: absolute;
	top			: 13px;
	right		: 11px;
	background	: url('/Menu/arrow.gif') no-repeat center right;
	z-index		: 5;
}

.menu li a:visited, .menu li a:active
{
	/*background-image: url(../Menu/SubMenu/ComingSoon.png);*/
}

.menu li a:hover
{
	background-image: url('/Menu/Over.png');
}

.subMenu li a:hover
{
	background-image: url('/Menu/SubMenu/Over.png');
}

.subMenu .subSoon a:hover
{
	background-image:	url('/Menu/SubMenu/ComingSoon.png');
}

.subMenu .subCommittee a:hover
{
	background-image:	url('/Menu/SubMenu/LoginRequired.png');
}

label
{
	font			: 10px Verdana, Helvetica, sans-serif;
	font-variant	: small-caps;
	color			: white;
}

.label
{
	font			: 10px Verdana, Helvetica, sans-serif;
	font-variant	: small-caps;
	color			: black;
}

.menuLink
{
	font			: 10px Verdana, Helvetica, sans-serif;
	font-variant	: small-caps;
}
.menuLink a:link
{
	font			: 10px Verdana, Helvetica, sans-serif;
	font-variant	: small-caps;
	color			: #aaaaff;
}

.login
{
	margin			: 0;
	padding			: 0;
	width			: 120px;
	height			: 133px;
	position		: fixed;
	top				: 407px;
	left			: 18px;
	border			: 0px;
	z-index			: 7;
}

#clustrmap
{
	margin			: 0;
	padding			: 0;
	width			: 108px;
	height			: 72px;
	position		: fixed;
	top				: 552px;
	left			: 8px;
	border			: 0px;
	z-index			: 7;
}

/* Holy Hack for IE */
* html .menu li	{ float: left; height: 1%; }
* html .menu li a	{ height: 1%; }
/* End */
