.bioTitle
{
	border:				1px solid #888888;
	text-align:			center;
	vertical-align:		middle;
	background-color:	#ccccff;
	position:			absolute;
	top:				0px;
	left:				0px;
	width:				200px;
	height:				50px;
	z-index:			3;
}

.bioPic
{
	display:	block;
	position:	absolute;
	width:		200px;
	height:		200px;
	z-index:	2;
}

.bioDetail
{
	display:		block;
	position:		absolute;
	width:			200px;
	height:			200px;
	text-align:		center;
	vertical-align:	middle;
	overflow:		auto;
	z-index:		3;
}
