/*======================================================================

  Positioning for the navigation elements. The navigation bar is positioned
  in the second row of the page container with a horizontally aligned set
  of menus. You create the menu as follows;

  	<div class="nav">
		<a href="#">MAIN_MENU_LINK</a>

		<div class="dropdown">
			<button class="dropbtn">DROPDOWN_TITLE</button>
			<div class="content">
				<a href="#">DROPDOWN_LINK_1</a>
				<a href="#">DROPDOWN_LINK_2</a>
				...
				<a href="#">DROPDOWN_LINK_N</a>
			</div>
		</div>
	</div>

    .nav-container
	+----------------------------------------------------------+
    | .nav                                                     |
    | +------------------------------------------------------+ |
    | | a  | .dropdown                                       | |
    | +------------------------------------------------------+ |
	+----------------------------------------------------------+
*/

/*----------------------------------------------------------------------
  Main navigation bar container, a simple dark bar, extended both ways
*/
.nav-container
{
    overflow:			hidden;
    background-color:	#333;
	width:				100%;
}

/*----------------------------------------------------------------------
  Navigation bar contents, limited in size to keep content tamed
*/
.nav
{
    overflow:			hidden;
    background-color:	#333;
	margin:				0px auto;
	max-width:			1024px;
}

/*----------------------------------------------------------------------
  Main navigation links
*/
.nav a
{
    float:				left;
    font-size:			16px;
    color:				white;
    text-align:			center;
    padding:			14px 16px;
    text-decoration:	none;
}

/*----------------------------------------------------------------------
  Dropdown menus stick together, horizontally
*/
.nav .dropdown
{
    float: left;
    overflow: hidden;
}

/*----------------------------------------------------------------------
  Dropdown menu element, all as buttons activating links
*/
.nav .dropdown .dropbtn
{
    font-size:			16px;    
    border:				none;
    outline:			none;
    color:				white;
    padding:			14px 16px;
    background-color:	inherit;
	z-index:			99;
}

/*----------------------------------------------------------------------
  Colour hovered menu links and dropdowns
*/
.nav a:hover, .dropdown:hover .dropbtn
{
    background-color:	#AF4C50;
}

/*----------------------------------------------------------------------
  Individual elements in the dropdown menu
*/
.nav .dropdown .content
{
    display:			none;
    position:			absolute;
    background-color:	#f9f9f9;
    min-width:			160px;
    box-shadow:			0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:			99;
}

/*----------------------------------------------------------------------
  Make dropdown links look consistent
*/
.nav .dropdown .content a
{
    float:				none;
    color:				black;
    padding:			12px 16px;
    text-decoration:	none;
    display:			block;
    text-align:			left;
}

/*----------------------------------------------------------------------
  Give the dropdown items a slightly lighter background
*/
.nav .dropdown .content a:hover
{
    background-color: #ddd;
}

/*----------------------------------------------------------------------
  Keep the dropdowns grouped
*/
.nav .dropdown:hover .content
{
    display: block;
}

/* ==================================================================
   Copyright (C) Kevin Peter Picott. All rights reserved. These coded
   instructions, statements and computer programs contain unpublished
   information proprietary to Kevin Picott, which is protected by the
   Canadian and US federal copyright law and may not be  disclosed to
   third  parties  or  duplicated or  copied,  in whole  or in  part,
   without   the  prior  written   consent  of  Kevin  Peter  Picott.
   ==================================================================*/
