body
{
	height: 100%;
	overflow: none;
}
img				{ behavior: url('/pngbehavior.htc'); }
#contentBox		{ overflow: auto;
				  position: relative;
				  top: -10px;
				  left: -80px;
				}
#divSubtitle	{ position: absolute; }
#mainTitle		{ position: absolute; }
#subTitle		{ position: absolute; }
#logo			{ position: absolute; }
#divTop			{ position: absolute; }
.imageContainer	{ position: absolute; }
.fade-box		{ position: absolute; }
