/*
	Utility file containing special effects on items (shadows, generic transitions, colouring...)
*/

/*======================================================================
	Buttons that will add a shadow on hover and press down when you click on them.
		<button class="shadow_button" onclick="pressed_me();">BUTTON TITLE</button>
*/
.shadow_button
{
    background-color:    #af4c50;
    border:              none;
    color:               white;
    padding:             10px 15px;
    text-align:          center;
    text-decoration:     none;
    display:             inline-block;
    font-size:           16px;
    margin:              4px 2px;
    cursor:              pointer;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s; /* Safari */
    -moz-transition-duration: 0.2s; /* Firefox */
    -o-transition-duration: 0.2s; /* Opera */
}

.shadow_button:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.shadow_button:active
{
  background-color: #8e3e41;
  box-shadow:       0 5px #666;
  transform:        translateY(2px);
}

/*======================================================================
	Image buttons that will grey out when you hover over them and then
	blur when you click on them
		<a class="grey_blur" href="#"><img src="/Images/image.jpg"></a>
*/
a:link.grey_blur
{
    border:             		 none;
    display:            		 inline-block;
    transition-duration:		 0.1s;
    -webkit-transition-duration: 0.1s; /* Safari */
    -moz-transition-duration: 0.1s; /* Firefox */
    -o-transition-duration: 0.1s; /* Opera */
}

a:hover.grey_blur
{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter:			grayscale(100%);
}

a:active.grey_blur
{
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter:			blur(5px);
}

/*========================================
	Nicely shadowed, outlined, box
*/
.box_shadow
{
	box-shadow:		0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom:	10px;
	border:			1px;
	border-style:	solid;
}

/*========================================
  Avoid breaking the line after a form (for Paypal button)
*/
.inline_form
{
	float:	left;
}

/*========================================
  Tooltips underneath an item

  	<div class="tooltip">Text that the user sees
		<span class="tooltiptext">Tooltip that pops up</span>
	</div>
*/
.tooltip
{
    position:		relative;
    display:		inline-block;
    border-bottom:	1px dotted black;
    z-index:		100;
}

.tooltip .tooltiptext
{
    visibility:			hidden;
    width:				120px;
    background-color:   #af4c50;
    color:				#fff;
    text-align:			center;
    font-size:			12px;
    border-radius:		6px;
    padding:			5px 0;
    position:			absolute;
    top:				150%;
    left:				50%;
    margin-left:		-60px;
    z-index:			100;
}

.tooltip .tooltiptext::after
{
    content:		"";
    position:		absolute;
    bottom:			100%;
    left:			50%;
    margin-left:	-5px;
    border-width:	5px;
    border-style:	solid;
    border-color:	transparent transparent #af4c50 transparent;
}

.tooltip:hover .tooltiptext
{
    visibility: visible;
}

/*======================================================================
   Coming-soon feature, to replace text with "coming soon" on hover

   <a href="#" class="coming-soon">TEXT</a>
*/
.coming-soon
{
	cursor:		wait;
	opacity:	0.6;
}

.coming-soon span
{
	pointer-events:	none;
}

.coming-soon:before
{
    content:	'Coming Soon! ';
	display:	none;
}

.coming-soon:hover > span
{
    display:		none;
	pointer-events:	none;
}

.coming-soon:active > span
{
    display:		none;
}

.coming-soon:hover:before
{
    display:			inline-block;
	background-color:	#eeee22;
}

/*----------------------------------------------------------------------
  When hovering over a link that uses onclick instead of href there won't
  be a cursor indicating that it is a link, so add that explicitly.
*/
.non-link
{
    cursor:				pointer;
	text-decoration:	underline;
}
.non-link:hover
{
    cursor: pointer;
	color:	blue;
}


/* ==================================================================
   Copyright (C) Kevin Peter Picott. All rights reserved. These coded
   instructions, statements and computer programs contain unpublished
   information proprietary to Kevin Picott, which is protected by the
   Canadian and US federal copyright law and may not be  disclosed to
   third  parties  or  duplicated or  copied,  in whole  or in  part,
   without   the  prior  written   consent  of  Kevin  Peter  Picott.
   ==================================================================*/
