/*
   Styles that only apply to the home page
*/

/*======================================================================
   Banner announcement styling, with ribbon features

  <div class="ribbon-container">
    <div class="ribbon one">

	  <div class="bk l shadow">
		<div class="arrow top"></div> 
		<div class="arrow bottom"></div>
	  </div>

	  <div class="skew l shadow"></div>

	  <div class="banner shadow">
		<div>THE ANNOUNCEMENT TO MAKE</div>   
	  </div>

	  <div class="skew r shadow"></div>
  
	  <div class="bk r shadow">
		<div class="arrow top"></div> 
		<div class="arrow bottom"></div>
	  </div>
	</div> 
  </div> 
*/
.shadow
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
	z-index:	-1;
}
.ribbon-container
{
    overflow:	hidden;
	width:		100%;
}
.ribbon
{
	width:		80%;
	max-width:	1000px;
	height:		80px;
	margin:		5px auto;
	position:	relative;
}

.one > div
{
	height: 50px;
}

.banner
{
	background:   #bf4c50; 
	position:     relative;
	display:      block;
	width:        90%;
	left:         50%;
	top:          0;
	padding:      5px;
	margin-left:  -45%;
	z-index:	  10;
}

.banner > div
{
	border:			1px dashed #fff;
	border-color:	#fff rgba(255, 255, 255, 0.5);
	height:			40px;
	font-size:		30px;
	font-style:		italic;
	text-align:		center;
	color:			#fff;
}

.bk
{
	background:	#b93841;
	position:	absolute;
	width:		8%;
	top:		12px;
}

.bk.l
{
	left: 0;
}

.bk.r
{
	right: 0;
}

.skew
{
  position:		absolute;
  background:	#250b1c;
  width:		3%;
  top:			6px;
  z-index:		5;
}

.skew.l
{
  left:			5%;
  transform:	skew(00deg,20deg);
}

.skew.r
{
  right:		5%;
  transform:	skew(00deg,-20deg);
}

.bk.l > div
{
	left: -30px;
}

.bk.r > div
{
	right: -30px;
}

.arrow
{
	height:		25px !important;
	position:	absolute;
	z-index:	2;
	width:		0; 
}

.arrow.top
{
	top:			   0;
	border-top:		   0 solid transparent;
	border-bottom:	25px solid transparent; 	
	border-right:	30px solid #b93841; 
}

.arrow.bottom
{
	top:			25px;
	border-top:		25px solid transparent;
	border-bottom:	   0 solid transparent; 	
	border-right:	30px solid #b93841; 
}

.r .bottom
{
	border-top:		25px solid transparent;
	border-bottom:	   0 solid transparent; 	
	border-left:	30px solid #b93841; 
	border-right:	none;
}

.r .top
{
	border-bottom:	25px solid transparent;
	border-top:		   0 solid transparent; 	
	border-left:	30px solid #b93841; 
	border-right:	none;
}

@media all and (max-width: 1020px)
{
  .skew.l
  {
    left:		5%;
    transform:	skew(00deg,25deg);
  }

  .skew.r
  {
    right:		5%;
    transform:	skew(00deg,-25deg);
  }
}

@media all and (max-width: 680px)
{
  .skew.l
  {
    left:		5%;
    transform:	skew(00deg,30deg);
  }

  .skew.r
  {
    right:		5%;
    transform:	skew(00deg,-30deg);
  }
}

@media all and (max-width: 460px)
{
  .skew.l
  {
    left:		5%;
    transform:	skew(00deg,40deg);
  }
  .skew.r
  {
    right:		5%;
    transform:	skew(00deg,-40deg);
  }
}

/*======================================================================
  Modal login dialog
*/
.modal
{
    display:	none;	/* Hidden by default */
    position:	fixed;	/* Stay in place */
    z-index:	11;		/* Sit on top */
    left:		25%;
    top: 		50px;
    width:		100%;	/* Full width shadow */
    height:		100%;	/* Full height shadow */
    overflow:	auto;	/* Enable scroll if needed */
    background-color: rgb(0,0,0);		/* Fallback color */
    background-color: rgba(0,0,0,0.4);	/* Black w/ opacity */
    padding-top: 60px;
}

.modal-content
{
    background-color:	#fefefe;
    margin:				5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border:				1px solid #888;
    width:				80%;			  /* Could be more or less, depending on screen size */
	max-width:			500px;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align:	center;
    margin:		24px 0 12px 0;
    position:	relative;
}

img.avatar
{
    width:			40%;
    border-radius:	50%;
}

/* The Close Button (x) */
.close
{
    position:		absolute;
    right:			25px;
    top:			0;
    color:			#000;
    font-size:		35px;
    font-weight:	bold;
}

.close:hover,
.close:focus
{
    color:	red;
    cursor:	pointer;
}

input[type=text], input[type=password]
{
    width:		100%;
    padding:	12px 20px;
    margin:		8px 0;
    display:	inline-block;
    border:		1px solid #ccc;
    box-sizing:	border-box;
}

.login-container
{
    padding: 			16px;
    background-color:	#f1f1f1;
}

.cancelbtn
{
    width:		auto;
    padding:	10px 18px;
}

.loginbtn
{
    padding:	14px 20px;
    width:		100%;
}

#login-dialog button:hover
{
    opacity: 0.8;
}

#login-dialog button
{
    background-color:	#AF4C50;
    color:				white;
    margin:				8px 0;
    border:				none;
    cursor:				pointer;
}

#login-error
{
    padding:	10px 18px;
    width:		auto;
	display:	none;
	font-style:	italic;
	font-color:	#AF4C50;
}

.psw
{
    float:			right;
    padding-top:	16px;
}

/* Add Zoom Animation */
.animate
{
    -webkit-animation:	animatezoom 0.6s;
    animation:			animatezoom 0.6s
}

@-webkit-keyframes animatezoom
{
    from {-webkit-transform: scale(0)} 
    to	 {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom
{
    from {transform: scale(0)} 
    to	 {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px)
{
    span.psw
	{
       display:	block;
       float:	none;
    }
    .cancelbtn
	{
       width: 100%;
    }
}

/* ==================================================================
   Copyright (C) Kevin Peter Picott. All rights reserved. These coded
   instructions, statements and computer programs contain unpublished
   information proprietary to Kevin Picott, which is protected by the
   Canadian and US federal copyright law and may not be  disclosed to
   third  parties  or  duplicated or  copied,  in whole  or in  part,
   without   the  prior  written   consent  of  Kevin  Peter  Picott.
   ==================================================================*/
